# Env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Test
.tox/
.nox/
.cache
cover/
*.cover
htmlcov/
.coverage
.coverage.*
*.py,cover
coverage.xml
.hypothesis/
nosetests.xml
.pytest_cache/

# Byte
*.py[cod]
*$py.class
__pycache__/

# IDE
*.vscode
__pypackages__/

# Flask
instance/
.webassets-cache