# Env
.env
env/
ENV/
.venv
venv/
env.bak/
venv.bak/

# Test
.tox/
.nox/
.cache
cover/
*.cover
htmlcov/
.coverage
.coverage.*
*.py,cover
coverage.xml
.hypothesis/
nosetests.xml
.pytest_cache/

# Byte
*.py[cod]
*$py.class
__pycache__/

# IDE
*.vscode
__pypackages__/

# Flask
*.log
app.log
*/app.log
instance/
.webassets-cache
/backend/app.log