name: Docker Image Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Code Checkout
      uses: actions/checkout@v2

    - name: Docker Hub Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Replace URLs in Vue.js Frontend
      run: |
        sed -i 's/http:\/\/127.0.0.1:5000\/login/https:\/\/api.proj-aums.hu\/login/' frontend/src/views/LoginView.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/register/https:\/\/api.proj-aums.hu\/register/' frontend/src/views/RegisterView.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/is_authenticated\//https:\/\/api.proj-aums.hu\/is_authenticated\//' frontend/src/router/index.js
        sed -i 's/http:\/\/127.0.0.1:5000\/cards/https:\/\/api.proj-aums.hu\/cards/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/cards\/${id}/https:\/\/api.proj-aums.hu\/cards\/${id}/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/unknown_cards/https:\/\/api.proj-aums.hu\/unknown_cards/' frontend/src/components/UnknownCards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/unknown_cards/https:\/\/api.proj-aums.hu\/unknown_cards/' frontend/src/components/UnknownCards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/unknown_cards\/${id}/https:\/\/api.proj-aums.hu\/unknown_cards\/${id}/' frontend/src/components/UnknownCards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/activate_card\/${id}/https:\/\/api.proj-aums.hu\/activate_card\/${id}/' frontend/src/components/UnknownCards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/cards\/${selectedCardId.value}/https:\/\/api.proj-aums.hu\/cards\/${selectedCardId.value}/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/card_validation\/${newCardNumber.value}/https:\/\/api.proj-aums.hu\/card_validation\/${newCardNumber.value}/' frontend/src/components/UnknownCards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/schedule/https:\/\/api.proj-aums.hu\/schedule/' frontend/src/views/ScheduleView.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/users/https:\/\/api.proj-aums.hu\/users/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/user_cards/https:\/\/api.proj-aums.hu\/user_cards/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/user_cards/https:\/\/api.proj frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/user_cards/https:\/\/api.proj-aums.hu\/user_cards/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/user_cards/https:\/\/api.proj-aums.hu\/user_cards/' frontend/src/components/Cards.vue
        sed -i 's/http:\/\/127.0.0.1:5000\/user_cards\/${del_userCard.id}/https:\/\/api.proj-aums.hu\/user_cards\/${del_userCard.id}/' frontend/src/components/Cards.vue

    - name: Set Up Docker Build
      uses: docker/setup-buildx-action@v1

    - name: Update Selected Configuration
      run: sed -i 's/selected_config = "Localhost"/selected_config = "Production"/' backend/app.py

    - name: Create .env From .env.example And Set
      run: |
        cp backend/.env.example backend/.env
        echo "MAIL_PORT=${{ secrets.MAIL_PORT }}" >> .env
        echo "MAIL_SERVER=${{ secrets.MAIL_SERVER }}" >> .env
        echo "MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}" >> .env
        echo "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" >> .env
        echo "PRODUCTION_DATABASE_URI=${{ secrets.PRODUCTION_DATABASE_URI }}" >> .env

    - name: Build And Push Flask Backend Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile.flask
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/flask-backend:latest

    - name: Build And Push Vue Frontend Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile.vue
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/vue-frontend:latest
